@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-black antialiased;
}

@media (prefers-reduced-motion: reduce) {
  .animate-blink {
    animation: none !important;
  }
  * {
    transition-duration: 0.01ms !important;
  }
}
